body {
  text-align: center;
}

.work-item {
  font-size: 2rem;
}

h2 {
  line-height: 1.5em;
  padding: .5em;
}

.name .description{
  font-size: 2rem;
}

#important-info {

}

#important-info .info-title {
  font-size: 1.5rem;
}